button-primary {
  color: #5b60d7;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1440;
  max-width: 1728px;
  @media screen and (max-width: 375px) {
    width: 375px;
  }
  @media screen and (max-width: 745px) {
    width: 745px;
  }
}
